fastapi
requests
gunicorn==21.2.0
azure-cosmos
azure-search-documents==11.4.0
azure-keyvault-secrets
azure-monitor-opentelemetry-exporter
aiohttp==3.9.5
python-dotenv==1.0.1
azure-cognitiveservices-speech==1.37.0
prompty[azure]==0.1.24
jsonlines
nbconvert
pandas
azure-monitor-opentelemetry-exporter
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation
tabulate
fastapi[standard]==0.75.0
jupyterlab==3.0.14
azure-identity==1.17.1
opentelemetry-api>=1.26,<1.27
zipp>=3.20,<3.21
